
body {
    background-image: url("portada.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: Georgia, serif;
    text-align: center;
    color: #333;
    margin: 0;
}
header {
    background: linear-gradient(to right, #3b2618, #6b3f1d);
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    font-size: 60px;
    letter-spacing: 6px;
    font-family: Georgia, serif;
    margin-bottom: 20px;
}
nav {
    background-color: #2b1d14;
    padding: 15px;
    margin-top: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #d4af37;
}

nav a {
    color: white !important;
    font-size: 30px !important;
    font-weight: bold !important;
}
main {
    max-width: 1000px;
    margin: auto;
    padding: 60px 20px;
}

section {
    max-width: 800px;
    margin: auto;
}

h2 {
    font-size: 32px;
    color: #8b0000;
}

p {
    font-size: 20px;
    line-height: 1.6;
}

footer {
    background-color: #222222;
    color: white;
    padding: 20px;
    margin-top: 50px;
}
ul li::marker {
    color: #ff6600;
}
